.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .main-body{
     padding-top: 20px;
     margin: 0 auto;
    max-width: 1298px;
     mat-form-field{
      width: 100%;
    }
  }
  .actions{
    display: flex;
    gap: 5px;
  }
  // .button-container button {
  //   margin-right: 10px; /* Adds space between the buttons */
  // }
  
  // .button-container button:last-child {
  //   margin-right: 0; /* Removes margin on the last button */
  // }